node_modules
npm-debug.log
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*
.env
.env.example
.env.local
.env.testing
.git
.gitignore
README.md
Dockerfile
.dockerignore
.docker
vendor
.editorconfig
.styleci.yml
.github
tests
.phpunit.result.cache
phpunit.xml
nixpacks.toml 